@theme {
  --color-primary: #68b7be;
  --color-primary-50: #f1f9fa;
  --color-primary-100: #dcf1f1;
  --color-primary-200: #bce3e5;
  --color-primary-300: #8ecdd2;
  --color-primary-400: #68b7be;
  --color-primary-500: #3d949d;
  --color-primary-600: #367984;
  --color-primary-700: #31636d;
  --color-primary-800: #2f535b;
  --color-primary-900: #2b474e;
  --color-primary-950: #182d34;
  --color-secondary: #377EB9;
  --color-accent: #FFB703;
  --color-success: #2A9D8F;
  --color-danger: #E63946;
  --color-neutral-1: #FAFAFA;
  --color-neutral-2: #F7F7F7;
  --color-neutral-3: #F1F1F1;
  --color-neutral-4: #676769;
  --color-neutral-5: #383838;
  --color-neutral-6: #1F1F21;
  --color-neutral-7: #5D5D5F;
  --color-misc-1: #D2D2D2;
  --color-misc-2: #C6C6C6;
  --color-misc-3: #BFC5CE;
  --color-misc-4: #E3EAF3;
}